@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rencata</h1>
    <p class="lead">My ASP.NET Project Demonstrate Windows File System.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            This ASP.NET MVC is an abstract system developed to demonstrate Winodws File system. To Give you An abstract idea of File system.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/File_system">Learn more &raquo;</a></p>
    </div>
</div>